{% extends 'base.html' %}

{% block content %}
    <h2>Add Event</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.start_time.label }} {{ form.start_time(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.end_time.label }} {{ form.end_time(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.workplace.label }} {{ form.workplace(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}
