{% extends "base.html" %}
{% block content %}
<h2>Kalendarz</h2>
<a href="{{ url_for('add_event') }}" class="btn btn-primary">Dodaj wydarzenie</a>
<div id='calendar'></div>

<script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: 'pl',
          initialView: 'dayGridMonth',
          events: '/fetch_events',
          eventClick: function(calEvent, jsEvent, view) {
            window.location.href = "/edit_event/" + calEvent.event.id;
            }
        });
        calendar.render();
      });

    </script>
{% endblock %}
