{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Welcome, {{ name }}!</h2>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    <h2>Twoje miejsca pracy</h2>

<ul class="list-group">
    {% for workplace in workplaces %}
    <li class="list-group-item">
        <strong>{{ workplace.name }}</strong> - {{ workplace.address }}
        <form action="{{ url_for('delete_workplace', workplace_id=workplace.id) }}" method="post" class="d-inline">
            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
        </form>
    </li>
{% else %}
    <li class="list-group-item">Nie dodałeś jeszcze żadnych miejsc pracy.</li>
{% endfor %}
</ul>

<a href="{{ url_for('add_workplace') }}" class="btn btn-primary mt-3">Dodaj nowe miejsce pracy</a>

</div>
{% endblock %}
